.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

.c
{
	padding-bottom: 50%;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}

.card:hover
{
	background-color: white;
	opacity: 0.9;
}

.card {
    background-color: #f3efef;
 
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

